<div class="jumbotron">
    <h1>HNL</h1>
    @*<img src="~/Content/logo.jpg" />*@
    
    <br />
    <br />
    <p><a href="http://hypernovalabs.com" class="btn btn-primary btn-lg">Hypernovalabs</a></p>
</div>

